name: pos_system
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.16.2 <3.0.0"

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  http: ^0.13.4
  package_info: ^2.0.2
  shared_preferences: any
  intl: ^0.17.0
  url_launcher: ^6.1.2
  google_fonts: ^3.0.0
  devicelocale: ^0.5.2
  provider: ^6.0.3
  collapsible_sidebar: ^2.0.1+2
  connectivity_plus: ^2.3.0
  quantity_input: ^1.0.2
  grouped_list: ^5.1.1
  side_navigation: ^1.0.2
  flutter_material_color_picker: ^1.1.0+2
  flutter_login: ^3.2.0
  sqflite: ^2.0.2+1
  fluttertoast: ^8.0.9
  dropdown_button2: ^1.6.2
  page_transition: ^2.0.5
  animations: ^2.0.3
  path_provider: ^2.0.11
  custom_pin_screen: "^0.3.0"
  virtual_keyboard_multi_language: ^1.0.3
  group_radio_button: ^1.2.0
  confirm_dialog: ^1.0.1
  image_picker: ^0.8.5+3
  path: ^1.8.1
  checkbox_grouped: ^1.8.1
  collection: ^1.16.0
  flutter_native_image: ^0.0.6+1
  esc_pos_printer:
    git:
      url: https://github.com/tkygcw/esc_pos_printer.git
  flutter_usb_printer: ^0.1.0+1
  esc_pos_utils: ^1.1.0
  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.4
  reorderable_grid_view: ^2.2.5
  lan_scanner: ^3.5.0
  network_info_plus: ^2.1.4+1
  percent_indicator: ^4.2.2
  qr_code_scanner: ^1.0.0
  imin: ^0.0.1
  xml2json: ^5.3.5
  firebase_messaging: ^14.1.1
  firebase_core: ^2.3.0
  flutter_local_notifications: ^12.0.4


dependency_overrides:
#  esc_pos_utils:
#    git:
#      url: https://github.com/tkygcw/esc_pos_utils.git

dev_dependencies:
  flutter_test:
    sdk: flutter



# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - language/
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
